PORT=9000
ROOT_DIR=/home/youruser
PASSWORD=change-me
SESSION_SECRET=change-me-to-a-long-random-string
SESSION_COOKIE_SECURE=
PORT=9000
ROOT_DIR=/home/jacob
PASSWORD=your_password_here
SESSION_SECRET=your_secret_here
